* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;  
}
header {
    height: 100vh;
    background-color: #FDEEDC; /*PRIMARY COLOR*/
    background-image: url("../images/dog-photo-withApp4.png");
    background-position: bottom right;
    background-size: cover;
    /* color: #fff; */
}

.container-fluid {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size:2rem;
    padding: 0.5% 10% 0;
    text-transform: uppercase;
}
.navbar-nav {
    padding: 5% 8%;
}

.navColor {
    /* background-color: #FDEEDC; */
}

.header__img {
    display: none;
}



/* .abtHome {
    background-color: #FDEEDC;
}

.navbar-brand:nth-child(1) {
    font-size: 30px;
}

.container {
    padding-top: 5% 5%;
    padding-bottom: 0;
} */