* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;  
}
header {
    height: 100vh;
    background-color: #FDEEDC;

}

/* .abtHome {
    background-color: #FDEEDC;
}

.navbar-brand:nth-child(1) {
    font-size: 30px;
}

.container {
    padding-top: 5% 5%;
    padding-bottom: 0;
} */