* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;  
}

header {
    position: relative;
    height: 100vh;
    background-color: #FDEEDC; /*PRIMARY COLOR*/
    background-image: url("../images/dog-photo-withApp4.png");
    background-position: bottom right;
    background-size: cover;
    /* color: #fff; */
}

.container-fluid {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size:2rem;
    padding: 0.5% 10% 0;
    text-transform: uppercase;
}

.navbar-nav {
    padding: 5% 8%;
    overflow: hidden;
}

.navColor {
    /* background-color: #FDEEDC; */
}

.header__heading {
    position: relative;
    top: 25%;
    left: 5%;
    width: 40%;
    /* background-color: green; */
}

.header__img {
    display: none;
}

/*Media Queries*/

/*Max-width: 600px*/

@media only screen and (max-width: 600px) {
    header {
        background-image: none;
    }
    
    .navbar-brand {
        font-size: 1.5rem;
        padding: 0;
    }
    
    .navbar-nav {
        font-size: 1rem;
    }

    .header__heading {
        position: absolute;
        top: 22%;
        left: 15%;
        width: 70%;
    }

    .dropdown {
        position: relative;
        z-index: 10;
    }

    h1 {
        z-index: 2;
    }

    .header__img {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 12rem;
        height: 12rem;
        padding: 2%;
        margin: 0;
        animation: fadeUp 1s ease-in;
    }

    .header__img img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        border: 5px solid black;
    }
    @keyframes fadeUp {
        0% {
            opacity: 0;
            top: 80%;
        }

        50% {
            opacity: ;
        }
    }
}   


/* .abtHome {
    background-color: #FDEEDC;
}

.navbar-brand:nth-child(1) {
    font-size: 30px;
}

.container {
    padding-top: 5% 5%;
    padding-bottom: 0;
} */